Description: 
First we train a Bi-LSTM character level classifier which is used to classify the entire input string into one of 5 categories. After classification, we try to group the entity with the already present entities according to simialrity criterias. If the entity is not similar enough to the already present entities it will be recorded as a new entity and assigned a new group id.

In [ ]:
!pip install jellyfish
!pip install rapidfuzz
!pip install autocorrect
!pip install spacy==2.2.4
!python -m spacy download en_core_web_lg

In [ ]:
import en_core_web_lg
import spacy
from spacy import displacy
from collections import Counter

from scipy import spatial
from autocorrect import Speller

import re

In [ ]:
import string
from random import randrange
import random  # used to create random separator
import string  # this is used to create the vocab of all the characters , stored in the variable 'vocab'
import pandas as pd
import numpy as np
from datetime import datetime
import os
import csv
import pickle

# below packages are used to create the model
import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Embedding, LSTM, GRU, Dense, Bidirectional, TimeDistributed, Input, Masking
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam

In [ ]:
# max length of the input
maxlen=100

In [ ]:
# load the csv data file
df=pd.read_csv('/content/datafile_lstm.csv')

In [ ]:
# shuffle data frame
df = df.sample(frac=1).reset_index(drop=True)

In [ ]:
# split the dataframe into train and test
df1=df.iloc[100:500,:]
df2=df.iloc[:100,:]

In [ ]:
# Dictionary contains the Labels
labels_dict = {  # we are keeping the value part as strings as it easy to generate labels , we could just give len(string)*label value to generate the label
    'company_name': 0,
    'company_address': 1,
    'serial_number': 2,
    'physical_good': 3,
    'location': 4
}

In [ ]:
# create reverse dictionary of label placeholders
reversed_labels = {value: key for (key, value) in labels_dict.items()}
reversed_labels

{0: 'company_name',
 1: 'company_address',
 2: 'serial_number',
 3: 'physical_good',
 4: 'location'}

In [ ]:
# define the vocab
vocab = list(string.whitespace + string.digits +
             string.ascii_lowercase + string.punctuation)  # total 74 characters

In [ ]:
vocab_size=len(vocab)
vocab_size

74

In [ ]:
# create the Tokenizer object, word_index contaning all the chars in the vocab
# basically this will encode all the characters into numbers, so each character defined in our vocab will be represented by a number
# vocab is just a list of tokens
tokenizer = Tokenizer(num_words=len(vocab), filters='',
                      char_level=True, oov_token='<oov>')
tokenizer.fit_on_texts(vocab)

In [ ]:
#train
train_sentences=list(df1['text'])
train_labels=list(df1['category'])
train_sequences=tokenizer.texts_to_sequences(train_sentences)
train_padded=pad_sequences(train_sequences, padding='post',maxlen=maxlen, truncating='pre') #maxlen decides the maximum length of the sequence
train_labels=[labels_dict[item] for item in train_labels ]
train_labels = np.asarray(train_labels, dtype=np.int32)
train_label_one_hot = tf.keras.utils.to_categorical(train_labels, dtype='int32')

In [ ]:
#test
test_sentences=list(df2['text'])
test_labels=list(df2['category'])
test_sequences=tokenizer.texts_to_sequences(test_sentences)
test_padded=pad_sequences(test_sequences, padding='post',maxlen=maxlen, truncating='pre') #maxlen decides the maximum length of the sequence
test_labels=[labels_dict[item] for item in test_labels ]
test_labels = np.asarray(test_labels, dtype=np.int32)
test_label_one_hot = tf.keras.utils.to_categorical(test_labels, dtype='int32')

In [ ]:
# Create model
model = Sequential()
model.add(Embedding(input_dim=vocab_size+1, output_dim=32,
                    input_length=maxlen, mask_zero=True))
# vocab_size+1 is to inlcude the padding
# output_dim is the size of the embedding for the characters in the vocab
model.add(Bidirectional(LSTM(32, return_sequences=False)))
#model.add(Bidirectional(LSTM(32, return_sequences=True)))
# 5 is the number of labels and which we need in the softamx classifier
model.add(Dense(len(labels_dict), activation='softmax'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 100, 32)           2400
_________________________________________________________________
bidirectional (Bidirectional (None, 64)                16640
_________________________________________________________________
dense (Dense)                (None, 5)                 325
=================================================================
Total params: 19,365
Trainable params: 19,365
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# create checkpoint
checkpoint_filepath = 'model_checkpoint'
model_checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_filepath,
    save_weights_only=False,
    save_best_only=False,
    monitor='val_accuracy',
    save_freq='epoch',
    mode='max',
    verbose=0,
    options=None
)
adam = keras.optimizers.Adam(learning_rate=0.001015)
model.compile(loss='categorical_crossentropy',
              optimizer=adam, metrics=['accuracy'])

history = model.fit(train_padded, train_label_one_hot,batch_size=32, epochs=10,  # TRAIN THE MODEL
                    validation_data=(test_padded, test_label_one_hot), callbacks=[model_checkpoint_callback]
                    )
model.save('model/intelligent-address-parser-model.h5')

# Entity Disambiguation

In [146]:
# load the english spacy model
# this is used to get vectors for text
nlp = en_core_web_lg.load()

In [169]:
# setting up the tables where data will be stored
company_name_entity_table = pd.DataFrame({'entity':'','group_id':int()},index=[])
company_address_entity_table = pd.DataFrame({'entity':'','group_id':int()},index=[])

In [197]:
# sample serial numbers inital values
serial_number_entity_table = pd.DataFrame({'entity':'','group_id':int()},index=[])

serial_number_entity_table=pd.DataFrame({'entity':['abc12345','bhkdj9849204','zlljdoi9720483','bbnvnv909090'],
                                   'group_id':[0,1,2,3]})
serial_number_entity_table

           entity  group_id
0        abc12345         0
1    bhkdj9849204         1
2  zlljdoi9720483         2
3    bbnvnv909090         3

In [198]:
# sample physical goods initial values
physical_good_entity_table = pd.DataFrame({'entity':'','group_id':int()},index=[])

physical_good_entity_table=physical_good_entity_table.append({'entity':'plastic bottle','group_id':0,'vector':nlp('plastic bottle').vector},ignore_index=True)
physical_good_entity_table=physical_good_entity_table.append({'entity':'steel bowl','group_id':1,'vector':nlp('steel bowl').vector},ignore_index=True)
physical_good_entity_table=physical_good_entity_table.append({'entity':'leather sofa','group_id':2,'vector':nlp('leather sofa').vector},ignore_index=True)
physical_good_entity_table=physical_good_entity_table.append({'entity':'hardwood table','group_id':3,'vector':nlp('hardwood table').vector},ignore_index=True)

physical_good_entity_table

           entity  group_id                                             vector
0  plastic bottle         0  [-0.289565, -0.049595, -0.077429, -0.15209301,...
1      steel bowl         1  [0.12778, 0.25831202, 0.45532, -0.372285, -0.1...
2    leather sofa         2  [-0.06037, -0.40972, -0.208975, -0.005081499, ...
3  hardwood table         3  [-0.091709, 0.09808999, -0.29916, -0.36364597,...

In [215]:
# sample location initial value
location_entity_table = pd.DataFrame({'entity':'','group_id':int()},index=[])

location_entity_table=location_entity_table.append({'entity':'London','group_id':0,'vector':nlp('London, UK').vector},ignore_index=True)
location_entity_table=location_entity_table.append({'entity':'Rome, Italy','group_id':1,'vector':nlp('Rome, Italy').vector},ignore_index=True)
location_entity_table=location_entity_table.append({'entity':'Tokyo','group_id':2,'vector':nlp('Tokyo').vector},ignore_index=True)
location_entity_table=location_entity_table.append({'entity':'Japan','group_id':3,'vector':nlp('Japan').vector},ignore_index=True)

location_entity_table

        entity  group_id                                             vector
0       London         0  [-0.040734004, 0.24897666, 0.082936674, -0.140...
1  Rome, Italy         1  [0.041836005, 0.30547366, -0.11563143, -0.2124...
2        Tokyo         2  [0.28876, -0.55541, 0.083178, -0.19359, 0.3757...
3        Japan         3  [-0.44528, -0.17553, 0.075346, 0.0048481, 0.23...

# serial_grouper

In [151]:
#decide to group or to add as new entity
#from rapidfuzz import fuzz

def serial_grouper(input_string):
    global serial_number_entity_table
    #input_string=sentence
    grouped_flag=0
    for index, row in serial_number_entity_table.iterrows():

        if re.findall("\A"+input_string[0:3], row['entity']): # check if the starting 3 characters are same, if yes then group them
            # save the entity in table and assign the same group id
            serial_number_entity_table=serial_number_entity_table.append({'entity':input_string, 'group_id':row['group_id']},ignore_index=True)
            print('entity grouped: ',{'entity':input_string, 'group_id':row['group_id']})
            grouped_flag=1
            break
        

    if grouped_flag==0:
        # save it as a new entity
        last=max(list(serial_number_entity_table['group_id']))
        serial_number_entity_table=serial_number_entity_table.append({'entity':input_string,'group_id':last+1},ignore_index=True)
        print('entity saved as new entry in the table: ', {'entity':input_string,'group_id':last+1})  
        
    return

#goods_grouper

In [152]:
# importing spelling corrector, we can easily use spelling correction as physical goods are very common and new names dont come in this
spell = Speller(lang='en')

In [183]:
def goods_grouper(input_entity):
    global physical_good_entity_table
    #input_entity='chair'
    input_entity=spell(input_entity) # spelling correction # physical goods have very general name and so we can easily apply spelling correction

    input_vector=nlp(input_entity).vector
    list_of_similarities=[]
    for index, row in physical_good_entity_table.iterrows():
        result = 1 - spatial.distance.cosine(row['vector'], input_vector )
        print(result)
        list_of_similarities.append(result)

    max_sim=max(list_of_similarities)
    print('max sim:',max_sim)
    if max_sim>0.72:
        group_id=list_of_similarities.index(max_sim)
        physical_good_entity_table=physical_good_entity_table.append({'entity':input_entity,'group_id':group_id,'vector':input_vector},ignore_index=True)
        print('entity grouped: ',{'entity':input_entity,'group_id':group_id})

    else:
        last=max(list(physical_good_entity_table['group_id']))
        physical_good_entity_table=physical_good_entity_table.append({'entity':input_entity,'group_id':last+1,'vector':input_vector},ignore_index=True)
        print('entity added: ',{'entity':input_entity,'group_id':last+1})

# location_grouper

vectors are helpful in reducing the search space, or you can say it helps to get candidates then we do string comparisions.

In [162]:
#spell = Speller(lang='en') # spelling correction was not working properly over here

def location_grouper(input_entity):
    global location_entity_table
    #input_entity='London, UK'
    #input_entity=spell(input_entity) # spelling correction # physical goods have very general name and so we can easily apply spelling correction

    input_vector=nlp(input_entity).vector
    list_of_similarities=[]
    candidates=[]
    for index, row in location_entity_table.iterrows():
        result = 1 - spatial.distance.cosine(row['vector'], input_vector )
        print(result)
        if result>0.70:
            candidates.append(index)
        #list_of_similarities.append(result)

    print('candidates:',candidates)

    if candidates:
        # prep input_entity for comparision by splitting it at spaces and
        input_entity_modified = input_entity.split(',')
        print('input_entity_modified',input_entity_modified)
        in_vec_list=[] # list of individual vectors for the entity parts
        for item in input_entity_modified:
            in_vec_list.append(nlp(item.strip()).vector)
            

        # for each candidate , replace comma with space and split at space, and then compare the vectors

        candidate_score_list=[]
        for item in candidates :
            can_string=location_entity_table['entity'][item] # replace comma with space
            can_string=can_string.split(',')

            print('can_string: ',can_string)
            can_vec_list=[] # list of individual vectors for the entity parts
            for i in can_string:
                can_vec_list.append(nlp(i.strip()).vector)

            # now we compare the elements from the 2 vector lists
            print('in_vec_list length',len(in_vec_list))
            print('can_vec_list length',len(can_vec_list))

            if len(in_vec_list)==1 and len(can_vec_list)==1:
                candidate_score_list.append(1 - spatial.distance.cosine(can_vec_list[0], in_vec_list[0]))

            elif len(in_vec_list)==1 and len(can_vec_list)==2:# first part is important
                candidate_score_list.append(1 - spatial.distance.cosine(can_vec_list[0], in_vec_list[0]))

            elif len(in_vec_list)==2 and len(can_vec_list)==1: # first part is important
                print('executing : in2 and can1')
                candidate_score_list.append(1 - spatial.distance.cosine(can_vec_list[0], in_vec_list[0]))

            elif len(in_vec_list)==2 and len(can_vec_list)==2: # least score wil determine 
                candidate_score_list.append(min([1 - spatial.distance.cosine(can_vec_list[0], in_vec_list[0]), 1 - spatial.distance.cosine(can_vec_list[1], in_vec_list[1])]))

            else:
                print('no criteria executed')


        print('candidate_score_list: ',candidate_score_list)
        max_sim=max(candidate_score_list)

        print('max sim:',max_sim)
        if max_sim>0.85:
            group_id=location_entity_table['group_id'][candidates[candidate_score_list.index(max_sim)]]
            location_entity_table=location_entity_table.append({'entity':input_entity,'group_id':group_id,'vector':input_vector},ignore_index=True)
            print('entity grouped: ',{'entity':input_entity,'group_id':group_id})

        else:
            last=max(list(location_entity_table['group_id']))
            location_entity_table=location_entity_table.append({'entity':input_entity,'group_id':last+1,'vector':input_vector},ignore_index=True)
            print('entity added: ',{'entity':input_entity,'group_id':last+1})

    else:
        last=max(list(location_entity_table['group_id']))
        location_entity_table=location_entity_table.append({'entity':input_entity,'group_id':last+1,'vector':input_vector},ignore_index=True)
        print('entity added: ',{'entity':input_entity,'group_id':last+1})

# classifier_main_function

In [195]:
def classifier_main_function():
    global model
    global tokenizer
    global serial_number_entity_table
    global physical_good_entity_table
    global location_entity_table
    # prediction (this is the starting point of our full model)

    input_entity=input('enter entity')
    sentence = [input_entity] # convert into list
    sequences = tokenizer.texts_to_sequences(sentence)
    padded = pad_sequences(sequences, maxlen=maxlen, padding='post', truncating='pre')
    output_class=reversed_labels[np.argmax(model.predict(padded)[0], axis=-1)]
    print('the input entity is classified as: ', output_class)


    if output_class=='serial_number':
        serial_grouper(input_entity)
        print('-'*60)
        print(serial_number_entity_table)

    elif output_class=='physical_good':
        goods_grouper(input_entity)
        print('-'*60)
        print(physical_good_entity_table)

    elif output_class=='location':
        location_grouper(input_entity)
        print('-'*60)
        print(location_entity_table)

    return

In [216]:
# calling the master function
classifier_main_function()

enter entityLondon, UK
the input entity is classified as:  location
1.0
0.6525508165359497
0.45524969696998596
0.5104739665985107
candidates: [0]
input_entity_modified ['London', ' UK']
can_string:  ['London']
in_vec_list length 2
can_vec_list length 1
executing : in2 and can1
candidate_score_list:  [1.0]
max sim: 1.0
entity grouped:  {'entity': 'London, UK', 'group_id': 0}
------------------------------------------------------------
        entity  group_id                                             vector
0       London         0  [-0.040734004, 0.24897666, 0.082936674, -0.140...
1  Rome, Italy         1  [0.041836005, 0.30547366, -0.11563143, -0.2124...
2        Tokyo         2  [0.28876, -0.55541, 0.083178, -0.19359, 0.3757...
3        Japan         3  [-0.44528, -0.17553, 0.075346, 0.0048481, 0.23...
4   London, UK         0  [-0.040734004, 0.24897666, 0.082936674, -0.140...